///////////////////////////////////////////
//
// TYPOGRAPHY
//
///////////////////////////////////////////
$regular-font:                        "Roboto-Regular";
$bold-font:                           "Roboto-Bold";


///////////////////////////////////////////
//
// COLORS
//
///////////////////////////////////////////
$background-color:                    #011631;
$primary-color:                       #6E00FF;
$gray-color:                          #9B9B9B;
$black-color:                         #1D1920;
$white-color:                         #FFFFFF;

$black-black:                         #0d0d0d;
$gradient2:                           #3e3445;

$link-color:                          #FE6A6A;